:root {
  --text: #1f1f1f;
  --bg: #ffffff;
  font: 16px/145% system-ui, 'Segoe UI', Roboto, sans-serif;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #e5e5e5;
    --bg: #16171d;
  }
}

body {
  margin: 0;
}

#root {
  max-width: 960px;
  margin: 0 auto;
  padding: 32px 16px;
}
